
/* Your CSS Code here. */
/* ul{
	list-style-type: none;
}
nav ul{
	display:flex;
	gap:20px;
	justify-content:space-between;
	margin:10px;
	
}

ul li a{
	text align: center;
}
h2{
	text-align: center;
	
} */